html { 
  font-size: calc(1em + 1vw) 
}

* {
  box-sizing: border-box;
}

a {
  padding: 8px;
}

address {
  font-family: Courier;
  font-style: normal;
  line-height: 2;
}

body {
  margin-left: 10%;
  margin-right: 10%;
}

.btn-group {
  margin: 0 auto;
  text-align: center;
}

.btn-group button {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: white;
  color: #4e376b;
}

button {
  background-color: #4e376b;
  border-radius: 5px;
  display: block;
  font-family: Courier;
  font-size: inherit;
  color: white;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
}

button:hover {
  background-color: white;
  border: 2px solid #4e376b;
  color: #4e376b;
}

#copyright {
  font-family: Arial;
  text-align: center;
  margin-bottom: 2%;
}

figcaption {
  font-family: Arial;
  padding: 5px;
  text-align: right;
}

figure {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#floater {
  line-height: 1;
}

footer {
  margin-bottom: 100px;
}

h1 {
  font-family: Arial;
  line-height: 1;
  margin-top: 50px;
  padding: 0px;
}

h2 {
  font-family: Arial;
  text-align: center;
}

hr {
  border: 0px;
  border-top: 1.5px dashed;
  height: 1px;
  padding: 5px;
}

iframe {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  min-height: 350px;
  padding: 0;
  width: 100%;
}

img {
max-width: 100%;
display: block;
}

li {
  display: inline;
  font-family: Arial;
  padding: 8px;
  width: 40%;
}

#mangrove {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  opacity: 0.9;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 1.5%;
  z-index: 99;
  outline: none;
  cursor: pointer;
}

#nav_container {

}

#nav_container li a { 
  padding: 2.5%;
}
p {
  font-family: Courier;
  line-height: 2;
}

table {
  border-collapse: collapse;
  position: relative;
  width: 90%;
}

table,
th,
td {
  border: 1px solid black;
}

tbody {
  font-family: Courier;
}

td {
  padding: 15px;
}

th {
  padding: 8px;
  background-color: white;
}

thead {
  text-align: Center;
  font-family: Arial;
}

tr {
  height: 50px;
}

tr:hover {
  background-color: #f5f5f5;
}

ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.works {
  overflow: auto;
  position:relative;
  height:n px;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #myBtn {
    visibility: hidden;
  }
}
